<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>BXR</title>
    <style>
        #react {
            width: 320px;
            height: 568px;
            margin: 0 auto;
            border: 1px solid black;
            display: flex;
            position: relative;
        }
    </style>
</head>
<body>
    <div id="react"/>
</body>
</html>
